:root {
  --rojo-gym: #d32f2f;
  --negro-fondo: #111111;
  --gris-suave: #f4f4f4;
  --blanco: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/*Caja de nav completa*/
#navbar {
  background-color: var(--negro-fondo);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center; 
}

#navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

#navbar li a:hover {
  background-color: silver;
  color: black;
}

/* seccion servicios */
.seccion-servicios {
  display: flex;
  padding: 40px;
  gap: 30px;
  background-color: #111;
  color: white;
}

/* texto izquierda */
.texto-servicios {
  width: 30%;
}

/* contenedor derecha */
.contenedor-servicios {
  width: 70%;
  display: flex;
  gap: 20px;
}

/* tarjetas */
.servicio {
  background-color: #f4f4f4;
  padding: 10px;
  text-align: center;
  width: 30%;
  color: black;
}

/* imagenes */
.servicio img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}